* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.total-padding {
    padding: 0px 150px;
}

header {
    width: 100%;
    background-color: #ccc;
    display: flex;
    height: 80px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

    .left-block {
        font-size: 2.5rem;
        color: #fff;
        cursor: pointer;
    }

    .navigation-right {
        display: flex;
        gap: 20px;
        padding-right: 10px;

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .customer-block {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        hr {
            margin-top: 10px;
        }

        button {
            width: 100px;
        }
    }

}